.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: rgb(237, 185, 80);;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}


.header {
  padding-top: 1rem;
}
.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto-fit;
  gap: 1rem;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #5e1e1e;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
    width: 20rem;
}

.services {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}
.services li {
          margin-bottom: 2rem 0;
          list-style: none;
          padding-left: 0;
          margin-left: -2.5rem;
          text-align: center;
         }

.card:hover,
.card:focus,
.card:active {
  color: #5e1e1e;
  border-color: #5e1e1e;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} 

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.hidden, .hidden * {
  color: #111;
  background: #111;
  border: none;
  width: 0;
  height: 0;
}

.centerText {
  text-align: center;
}

.button {
  background: rgba(212,212,212, 0.03);
  border: solid 1px rgba(0,0,0,1);
  padding: 1rem 3rem;
  min-width: 20rem;
  margin: auto;
  max-width: 70%;
  color: #eaeaea;
}